

/* хедер */
.media-hero {
  background-image: url('../images/hero-about.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1100px;
}

.media-hero__inner {
  max-width: 1200px;
  margin: 0 auto;
}

.media-hero__title {
  font-size: 72px;
  font-family: var(--header-font);
  font-weight: 800;
  color: var(--blue);
  margin-bottom: 40px;
}

.media-hero__content {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 110px;
  font-family: var(--primary-font);
}

.media-hero__text {
  font-size: 18px;
  line-height: 1.5;
  color: var(--blue);
}

.media-hero__btn {
  display: inline-block;
  background: #F05A28;
  color: var(--bg-color);
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 16px;
  width: fit-content;
  transition: 0.2s;
}


/* вводный */
.title-section {
  background-color: var(--bg-color);

  background-image: url('../images/background_inscription.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 

  padding: 120px 20px;
}

.title-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.hero-title {
  font-size: clamp(40px, 5vw, 64px);
  font-family: var(--header-font);
  font-weight: 1400px;
  line-height: 1.1;
  color: var(--blue);
  letter-spacing: -0.5px; 
  

  max-width: 1400px;   
  margin: 0 auto 20px;  

  text-align: center;
   text-wrap: balance;
}

.hero-sub {
  font-size: 22px;
  line-height: 1.5;
  font-family: var(--primary-font);
  color: var(--blue);
  max-width: 700px;
  margin: 0 auto;
}


/* карточки */
body {
  background: var(--bg-color);
  color: var(--blue);
}

.card_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid var(--blue);
  border-radius: 10px;

  padding: 30px;
  margin-bottom: 30px;
  background-color: var(--bg-color);

  gap: 75px;
}

.card-content {
  max-width: 520px;
}

.card-content h2 {
  font-size: 42px;
  font-family: var(--header-font);
  line-height: 1.1;
  font-weight: 800;
  margin: 0 0 20px;
}

.card-content p {
  font-size: 20px;
  font-family: var(--primary-font);
  line-height: 1.5;
  color: var(--text-color);
  margin-bottom: 25px;
}

.btn {
  background:var(--orange);
  color: var(--bg-color);
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.card img {
  width: 300px;
  height: 270px;
  object-fit: cover;
  border-radius: 10px;
}


/* иконки */
.system-section {
  background: var(--bg-color);
  padding: 100px 20px;
}



.section-title {
  font-size: clamp(40px, 5vw, 64px);
  font-family: var(--header-font);
  font-weight: 800;
  line-height: 1.1;
  color: var(--blue);

  max-width: 1100px;
  margin-bottom: 100px;
}

.feature-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.feature {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.feature-icon {
  width: 140px;
  height: 140px;
  object-fit: contain;
  margin-top: 40px;
  margin-bottom: 30px;
}

.feature-desc {
  font-size: 20px;
  line-height: 1.4;
  color: var(--blue);
  font-family: var(--primary-font);
  max-width: 280px;
  margin: 0 auto;
}


/* о разделах */


/* Заголовок */
.page-title {
  font-size: 52px;
  font-family: var(--header-font);
  line-height: 1.1;
  margin-bottom: 50px;
  color: var(--blue);
}

/* Сетка */
.tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

/* Карточка */
.tile {
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--blue);
  display: flex;
  flex-direction: column;
  transition: 0.25s;
  background: var(--bg-color);
}

.tile:hover {
  transform: translateY(-8px);
}

/* Картинка */
.tile__media {
  height: 200px;
  position: relative;
}

.tile__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Контент */
.tile__body {
  flex: 1;
  padding: 14px;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tile__title {
  font-family: var(--primary-font);
  font-size: 26px;
  font-weight: 800;
  color: var(--blue);
}

.tile__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-family: var(--primary-font);
  gap: 12px;
  color: var(--blue);
}

.tile__line {
  flex: 1;
  height: 2px;
  background: var(--blue);
}

.arrow {
  font-family: var(--primary-font);
  font-size: 18px;
}


/* соц сети */
.socials {
  display: flex;
  gap: 24px;
}

.join-grid {
  display: grid;
  grid-template-columns: 1fr 520px;
  align-items: center;
  font-family: var(--primary-font);
}

.social {
  display: flex;
  align-items: center;
  gap: 25px;
  text-decoration: none;
  color: var(--orange);
  font-size: 18px;
}

.social__icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.join-right {
  display: flex;
  justify-content: center;
}

.join-title {
  font-size: 64px;
  font-family: var(--header-font);
  max-width: 850px;
  line-height: 0.9;
  color: #0E5F6B;
  margin-bottom: 24px;
}


.join-right img {
  width: 100%;
  max-width: 480px;
  border-radius: 16px;
}


.social__icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



/* команда */
.socials {
  display: flex;
  gap: 24px;
}

.social {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: var(--orange);
  font-size: 18px;
}

.social__icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* картинка справа */
.join-right {
  display: flex;
  justify-content: center;
}

.join-right img {
  width: 100%;
  max-width: 480px;
  border-radius: 16px;
}


/* TEAM */
.page-title {
  font-size: 64px;
  color: var(--blue);
  margin-bottom: 50px;
}

/* сетка */
.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

/* карточка */
.team-card {
  font-family: var(--primary-font);
  display: flex;
  flex-direction: column;
}

/* фото */
.team-photo {
  width: 100%;
  height: 285px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 20px;
}

/* имя */
.team-name {
  font-family: var(--primary-font);
  font-size: 28px;
  color: var(--blue);
  margin-bottom: 6px;
}

/* роль */
.team-role {
  font-family: var(--primary-font);
  color: var(--blue);
  margin-bottom: 14px;
}

/* телеграм */
.team-tg {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--blue);
  text-decoration: none;
}

.team-tg img {
  width: 28px;
  height: 28px;
}


/* подписка */
.subscribe-section {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;

    .subscribe {
        padding-top: 198px ;
        padding-bottom: 292px;
        .subscribe-wrapper {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-self: center;
            .subscribe-row {
                .subscribe-row-wrapper {
                    margin-top: 5px;
                    display: flex;
                    gap: 5px;
                    input {
                        outline: none;
                        background-color: var(--bg-color);
                    }
                    input::placeholder {
                            color: var(--blue);
                            opacity: 50%;
                        }
                    input:focus {
                        border-color: var(--orange);
                        background-color: var(--bg-color);
                        color: var(--blue);
                    }
                    input:not(:placeholder-shown) {
                        border-color: var(--orange);
                        background-color: var(--bg-color);
                        color: var(--blue);
                    }
                    .subscribe-input {
                        background-color: var(--bg-color);
                        border: 1px solid var(--blue);
                        border-radius: 10px;
                        width: 357px;
                        height: 30px;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}


/* футер */
.footer-hero {
  background-color: var(--orange);
  width: 100%;
  padding: 80px 0 120px;
  position: relative;
  overflow: hidden;
  color: var(--bg-color);
}

.footer-nav {
  display: flex;
  justify-content: space-between;   
  gap: 70px;                   
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.footer-nav a {
  color: var(--bg-color);
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: 500;
}

.hero-card {
  background: var(--bg-color);
  border-radius: 10px;         
  padding: 12px;
  max-width: 1200px;          
  margin: 0 auto 60px;
}

.hero-card img {
  width: 100%;
  height: 320px;
  display: block;
  border-radius: 10px;
  object-fit: cover;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto 40px;
  font-size: 24px;
  font-family: var(--primary-font);
  color: var(--bg-color);
}

.footer-contacts a {
  color: inherit;
  text-decoration: none;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--bg-color);
  margin: 0 auto 40px;
}

.footer-policy,
.footer-copy {
  opacity: 0.9;
}

.footer-bg-text {
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  text-align: center;
  font-family: var(--header-font);
  font-size: 245px;   
  color: var(--bg-color);                       
  pointer-events: none;
  padding-left: 40px;
}
