@font-face {
  font-family: 'Tovar';
  src: url('../fonts/Tovar.woff'),
}
@font-face {
  font-family: 'Commons-Pro-Regular';
  src: url('../fonts/TT-Commons-Pro-Educational-Regular.woff'),
}
@font-face {
  font-family: 'Commons-Pro-Normal';
  src: url('../fonts/TT-Commons-Pro-Educational-Normal.woff'),
}
@font-face {
  font-family: 'Commons-Pro-Medium';
  src: url('../fonts/TT-Commons-Pro-Educational-Medium.woff'),
}
@font-face {
  font-family: 'Commons-Pro-DemiBold';
  src: url('../fonts/TT-Commons-Pro-Educational-DemiBold.woff'),
}
