.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 85px;
    padding-top: 30px;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;

    .header-menu {
        ul {
            list-style: none;
            display: flex;
            gap: 18px;
        }

        a {
            text-decoration: none;
            color: var(--text-color);
            font-family: var(--primary-font);
            font-size: 16px;
            transition: color 0.3s;
        }

        a:hover {
            color: var(--orange);
        }
    }
}

.hero-section {
    background-image: url('../pictures/hero-picture.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 570px;

    .hero-section-title {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 300px;
        padding-left: 42px;
        padding-right: 41px;

        h1 {
            color: var(--blue);
        }

        .hero-section-title-desc {
            display: flex;
            justify-content: space-between;
        }
    }
}