.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--bg-color);
    
    .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 85px;
    padding-top: 30px;
    padding-bottom: 20px;
    }

        .header-menu {
            ul {
                list-style: none;
                display: flex;
                gap: 18px;
            }

            a {
                text-decoration: none;
                color: var(--text-color);
                font-family: var(--primary-font);
                font-size: 16px;
                transition: color 0.3s;
            }

            a:hover {
                color: var(--orange);
            }
        }
}

.main-figures {
    position: absolute;
    z-index: 1000;
    .top-figures {
        position: absolute;
        z-index: 1000;
        top: -140px;
        left: 370px;
        img {
            width: 451px;
        }
    }
    .main-figure-1 {
        position: absolute;
        z-index: 1000;
        img{width: 325px;}
        left: -122px;
        top: 320px;
    }

    .main-figure-2 {
        position: relative;
        z-index: 1000;
        img{width: 325px;}
        top: 22px;
        right: -1300px;
    }
}

.hero-section {
    overflow: visible;
    background-image: url('../images/main-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 570px;

    .hero-section-title {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 300px;
        padding-left: 42px;
        padding-right: 41px;

        h1 {
            color: var(--blue);
        }

        .hero-section-title-desc {
            display: flex;
            justify-content: space-between;
        }
    }
}

.statistic {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;

    .statistic-item {
        display: flex;
        gap: 10px;
        align-items: flex-end;

        .statistic-text {
            font-family: var(--primary-font);
            font-size: 20px;
            line-height: 108%;
        }
    }

}

.hobby-of-day {
    width: 100%;
    overflow: hidden;
    margin-top: 120px;
    .hobby-of-day-title {
        
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .hobby-of-day-title-desc {
            line-height: 111%;
        }
    }
}

.hobby-of-day-cards {
    margin-top: 50px;
    display: flex;
    gap: 85px;
    justify-self: center;

    .hobby-of-day-card {
        display: flex;
        flex-direction: column;
        width: 590px;
        height: 325px;
        border: 1px solid var(--green);
        border-radius: 10px;
        overflow: hidden;

        .hobby-of-day-card-figures {
            position: relative;
            z-index: 3;
            margin-top: 0px;
        }

        .hobby-of-day-card-image {
            object-fit: cover;
            border-radius: 10px;
            position: relative;
            z-index: 1;
            margin-top: -330px;
            .blur-bg {
            display: none;
            }
        }

        .hobby-of-day-card-desc {
            transition: all 0.4s ease;
            height: 122px;
            width: 590px ;
            background-color: var(--bg-color);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            padding: 20px;
            position: relative;
            z-index: 2;
            margin-top: -43px;
            margin-left: -1px;
            
            h2 {
                color: var(--green);
            }

            p {
                color: var(--green);
                margin-top: 8px;
            }


            .hobby-of-day-card-desc-icons {
                display: none;
                transition: all 0.4s ease;
            }

            button {
                display: none;
                transition: all 0.4s ease;
            }
        }
    }

    .hobby-of-day-card:hover {
        
        .hobby-of-day-card-image {
            .blur-bg {
                display: inline;
                position: absolute;
                background-blend-mode: darken;
                opacity: 0.6;
            }
        }
        .hobby-of-day-card-desc {
            height: 205px;
            margin-top: -125px;
            transition: all 0.4s ease;
        }
        .hobby-of-day-card-desc-icons{
            display: flex;
            width: 346px;
            justify-content: space-between;
            margin-top: 15px;
            transition: all 0.4s ease;

            .hobby-of-day-card-desc-icon {
                display: flex;
                gap: 10px;
            }
        }

        button {
            margin-top: 15px;
            display: flex;
            transition: all 0.4s ease;
            a {
                color: var(--green);
            }
        }
    }

    .hobby-of-day-card-tomorrow {
        width: 590px;
        height: 325px;
    }
}

.hobby-of-day-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    button {
        min-width: 151px;
    }
}

.popular-articles {
    margin-top: 120px;

    .popular-articles-wrapper {
        margin-top: 50px;
        display: flex;
        gap: 120px;
        height: 325px;

        .popular-articles-info {
            width: 288px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .popular-articles-btn {
                width: 100%;
            }
        }

        .popular-articles-cards {
            display: flex;
            gap: 20px;
            .article-card {
                width: 283px;
                height: 325px;
                border: 1px solid var(--blue);
                border-radius: 10px;
                overflow: hidden;

                .article-card-image {
                    width: 283px;
                    height: 208px;
                    object-fit: cover;
                    border-radius: 10px;
                    position: relative;
                    z-index: 1;
                    img {
                        height: 208px;
                        width: 312px;
                    }
                    .blur-bg {
                    display: none;
                    transition: all 0.4s ease;
                    }
                }

                .article-card-desc {
                    width: 283px;
                    background-color: var(--bg-color);
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    position: relative;
                    z-index: 2;
                    margin-top: -26px;
                    gap: 15px;
                    transition: all 0.4s ease;
                    h3 {
                        color: var(--blue);
                    }

                    .article-card-tags {
                        display: flex;
                        gap: 10px;
                        color: var(--blue);
                        opacity: 60%;
                    }

                    button {
                        display: none;
                        transition: all 0.4s ease;
                    }
                }

            }

            .long {
                width: 487px;
                .article-card-image {
                    width: 487px;
                    img {

                        width: 487px;
                    }
                }
            }
            .article-card:hover {
                .article-card-image {
                .blur-bg {
                    display: inline;
                    position: absolute;
                    background-blend-mode: darken;
                    opacity: 0.6;
                    margin-top: -10px;
                    transition: all 0.4s ease;
                }
                }

                .article-card-desc{
                    height: 176px;
                    margin-top: -59px;
                    transition: all 0.4s ease;

                    button {
                        display: flex;
                        transition: all 0.4s ease;
                        justify-content: flex-start;
                        align-items: flex-end;
                        a {
                            color: var(--blue);
                        }
                    }
                }
            }
        }
    }
}

.popular-tests {
    margin-top: 120px;

    .popular-tests-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin-top: 50px;
        .popular-tests-cards {
            display: flex;


            .test-card:hover {
                .test-card-image {
                    transition: all 0.4s ease;
                    transform: translateY(-50px) translateX(30px); 
                    z-index: 3; ;

                }
                .tv-btn {
                    margin-top: -50px ;
                }
                .leika-btn {
                    margin-top: -10px;
                }
                button {
                    margin-top: 0px;
                    display: flex;
                    a {color: var(--orange);}
                     transition: all 0.4s ease;
                }
            }
            .left { transform: translateY(30px) translateX(80px) rotate(-12deg); z-index: 1; }
            .center { transform: translateX(0) rotate(0deg); z-index: 3; }
            .right { transform: translateY(30px) translateX(-80px) rotate(12deg); z-index: 2; }
        }

        .popular-tests-arrows {
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: relative;
            margin-top: -173px;
        }

        .popular-tests-arrows:hover {
            cursor: pointer;
        }

        .arrow-left:hover {
            transform: translateX(-3px);
            transition: all 0.4s ease;
        }

        .arrow-right:hover {
            transform: translateX(3px);
            transition: all 0.4s ease;
        }

        button {
            width: 151px;
            margin-top: 173px;
        }
    }
}

.subscribe-section {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 100px;

    .subscribe {
        padding-top: 198px ;
        padding-bottom: 292px;
        max-width: 1200px;
        .subscribe-wrapper {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-self: center;
            .subscribe-row {
                .subscribe-row-wrapper {
                    margin-top: 5px;
                    display: flex;
                    gap: 5px;
                    input {
                        outline: none;
                        background-color: var(--bg-color);
                        height: 50px;
                        font-size: 20px;
                    }
                    input::placeholder {
                            color: var(--blue);
                            opacity: 50%;
                            font-family: var(--primary-font);
                        }
                    input:focus {
                        border-color: var(--orange);
                        background-color: var(--bg-color);
                        color: var(--blue);
                    }
                    input:not(:placeholder-shown) {
                        border-color: var(--orange);
                        background-color: var(--bg-color);
                        color: var(--blue);
                    }
                    .subscribe-input {
                        background-color: var(--bg-color);
                        border: 1px solid var(--blue);
                        border-radius: 10px;
                        width: 357px;
                        height: 50px;
                        padding-left: 10px;
                    }
                }
            }
        }


            
        
    }
}

.footer-hero {
  background-color: var(--orange);
  width: 100%;
  padding: 80px 0 120px;
  position: relative;
  overflow: hidden;
  color: var(--bg-color);
}


.footer-nav {
  display: flex;
  justify-content: space-between;   
  gap: 70px;                  
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.footer-nav a {
  color: var(--bg-color);
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: 500;
}

.hero-card {
  background: var(--bg-color);
  border-radius: 10px;
  max-width: 1200px;          
  margin: 0 auto 60px;
}

.hero-card img {
  width: 100%;
  height: 320px;
  display: block;
  border-radius: 10px;
  object-fit: cover;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 40px;
  font-size: 24px;
  font-family: var(--primary-font);
  color: var(--bg-color);
}

.footer-contacts a {
  color: inherit;
  text-decoration: none;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--bg-color);
  margin: 0 auto 40px;
}

.footer-policy,
.footer-copy {
  opacity: 0.9;
}

.footer-bg-text {
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  text-align: center;
  font-family: var(--header-font);
  font-size: 245px;   
  color: var(--bg-color);                       
  pointer-events: none;
  padding-left: 40px;
}

/* бургер скрыт на десктопе */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  width: 25px;
  height: 3px;
  background: var(--text-color);
  display: block;
}

/* АДАПТИВ */
@media (max-width: 375px) {

  .burger {
    display: flex;
  }

  .header-menu {
    position: absolute;
    top: 85px;
    right: 0;
    width: 100%;
    background: var(--bg-color);
    display: none;
  }

  .header-menu ul {
    flex-direction: column;
    padding: 20px;
    gap: 15px;
  }

  .header-menu.active {
    display: block;
  }

  .main-figures{
    .top-figures {
        img{
            width: 123px;
        }

        left: 55px;
        top: 8px;
    }

    .main-figure-1{
        img{
            width: 70px;
        }
        left: -24px;
        top: 115px;
    }

    .main-figure-2{
        img{
            width: 70px;
        }
        right: -300px;
        top: 18px;
    }
  }

  .hero-section {
    background-image: url(../images/main-hero-mobile.png);
    border-radius: 10px;
    height: 395px;

    .hero-section-title{
        padding-left: 20px;
        padding-top: 272px;
        gap: 15px;
        .hero-section-title-desc{
            flex-direction: column;
            button{
                margin-top: 15px;
            }

        }
    }
  }

  .statistic{
    margin-top: 20px;
    .statistic-item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;

        .statistic-text {
            font-family: var(--primary-font);
            font-size: 12px;
            line-height: 108%;
        }
    }
  }

    .hobby-of-day{
        margin-top: 35px;
        .hobby-of-day-title{
            align-items: flex-start;
                .hobby-of-day-title-desc {
                    width: 165px;
                }
            }

        .hobby-of-day-cards {
            margin-top: 20px;
            gap: 5px;
            .hobby-of-day-card{
                width: 250px;
                height: 135px;
                .hobby-of-day-card-figures{
                    img{
                        width: 318px;
                        height: 161px;
                    }
                }
                .hobby-of-day-card-image{
                    margin-top: -170px;
                    img{
                        width: 250px;
                    }
                }
                .hobby-of-day-card-desc{
                    width: 250px;
                    height: 60px;
                    padding: 10px;
                }
            }

            .hobby-of-day-card-tomorrow{
                width: 250px;
                height: 135px;
                img {
                    width: 250px;
                    height: 135px;
                }
            }
        }

        .hobby-of-day-buttons{
            margin-top: 20px;
            justify-self: center;
            button{
                min-width: 80px;
            }
            .secondary{
                display: none;
            }
        }
    }

    .popular-articles {
        margin-top: 40px;
        .popular-articles-wrapper {
            gap: 5px;
            .popular-articles-info {
                width: 165px;
                height: 190px;
                .popular-articles-btn{
                    width: 122px;
                }
            }
            .popular-articles-cards {
                height: 190px;
                .article-card{
                    width: 165px;
                    height: 190px;
                    .article-card-image{
                        img{
                            width: 187px;
                            height: 125px;
                        }
                    }

                    .article-card-desc{
                        width: 165px;
                        height: 95px;
                        margin-top: -120px;
                        padding: 10px;
                        margin-left: -1px;

                    }
                }
                .long{
                    display: none;
                }
            }
        }
    }

    .popular-tests {
        margin-top: 35px;
        .popular-tests-wrapper {
            margin-top: 20px;
            .popular-tests-cards {
                
                    .test-card {
                        width: 165px;
                        height: 190px;
                    }

            .left { transform: translateY(5px) translateX(155px) rotate(-4deg); z-index: 1; }
            .center { transform: translateX(0) rotate(0deg); z-index: 3; }
            .right { transform: translateY(5px) translateX(-155px) rotate(4deg); z-index: 2; }
            }

            .popular-tests-arrows {
                margin-top: -100px;
                
                .arrow-left {
                    img {
                        width: 70px;
                    }
                }

                .arrow-right {
                    img {
                        width: 70px;
                    }
                }
            }

            button {
                margin-top: 100px;
            }
        }
    }

    .subscribe-section {
        background-image: url(../images/bg-mobile.png);
        .subscribe {
            .subscribe-wrapper {
                margin-left: -120px;
            .subscribe-row {
                .subscribe-row-wrapper {
                    flex-direction: column;
                    gap: 10px;
                    .subscribe-input {
                        width: 192px;
                        height: 15px;
                        padding-left: 10px;
                        input::placeholder{
                            font-size: 10px;
                        }
                    }
                    width: 77px;
                }
            }
        }
        }
    }

    
    .footer-hero {
    position: relative;
    overflow: hidden;
    padding: 50px 0 100px;
}

.footer-nav {
    display: flex;
    flex-direction: column; 
    gap: 16px;
    margin-bottom: 32px;
}

.footer-nav a {
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 500;
}

.hero-card {
    border-radius: 12px;
    margin: 0 auto 40px;
    overflow: hidden;
    max-width: 335px;
}

.hero-card img {
    width: 335px;
    height: 145px;
    display: block;
    object-fit: cover;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 18px;
    margin-bottom: 32px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: var(--primary-font);
    font-size: 14px;
    opacity: 0.95;
}

.footer-bg-text {
    display: none;
}
    

}