* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

:root {
  --primary-font: "Commons-Pro-Regular";
  --secondary-font: "Commons-Pro-Medium";
  --header-font: 'Tovar';
  --bg-color: #FFF7F1;
  --text-color: #003F4C;
  --blue: #006174;
  --green: #75A302;
  --orange: #FF5B32;
  --btn-hover: #FF7C50;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.h1 {
  font-family: var(--header-font);
  font-size: 64px;
  line-height: 80%;
  color: var(--blue);
}

.h2 {
  font-family: var(--header-font);
  font-size: 48px;
  line-height: 90%;
  color: var(--blue);
}

.h3 {
  font-family: var(--secondary-font);
  font-size: 28px;
  line-height: 85%;
}

.p1 {
  font-family: var(--secondary-font);
  font-size: 20px;
  line-height: 130%;
}

.p2 {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 100%;
}

.primary {
  background-color: var(--orange);
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  a {
    font-family: var(--primary-font);
    font-size: 20px;
    line-height: 130%;
    color: var(--bg-color);
    text-decoration: none;
  }
}

.primary:hover {
  background-color: var(--btn-hover);
}

.secondary {
  background-color: var(--bg-color);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid var(--orange);
  a {
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: 20px;
    line-height: 130%;
    color: var(--orange);
  }
}

.secondary:hover {
  background-color: var(--btn-hover);
  border-color: var(--btn-hover);
  a{color: var(--bg-color);}
}

.large{
  height: 56px;
  width: 241px;
  padding: 10px;
}

.medium {
  height: 40px;
}

.small {
  height: 30px;
}

.card-btn {
  border: 0;
  background-color: var(--bg-color);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  a {
    text-decoration: none;
    font-family: var(--secondary-font);
    font-size: 16px;
    line-height: 100%;
    color: var(--blue);
  }
}